---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import BlogLayout from "src/layouts/BlogLayout.astro";


export const getStaticPaths = (async() => {
  const posts = await getCollection('blog' )
   
   return posts.map((post) =>  {
     
    return({
    params: {
       slug: post.slug, 
       
      },
      props: { post: post ,
     

     },
  })
  });
}) satisfies GetStaticPaths;

const { post,  } = Astro.props
const frontmatter = post.data

const { Content,headings }  = await post.render()

const author = await getEntry('author',post.data.author.id)

---

<BlogLayout  title={frontmatter.title}>
   <h1 class="text-xs text-gray-500 mb-0">{frontmatter.title}</h1>
   <div class="text-lg p-2 text-blue-600">
     <Image width={50} height={50} src={author.data.avatar} alt={author.data.name} class={'rounded-full '}     />
     <div>
      <a href={`/blog/${frontmatter.author.id}`}>
        {author.data.name} 
      </a>
     </div>
   </div>

   <Image width={600} height={200} src={frontmatter.image} alt={frontmatter.title}
   transition:name=`${post.slug}-image`
   />
   <!-- Tabla de contenido -->
    <h3>Tabla de contenido</h3>
    <ol>
      {
        headings.map((heading, index) => (
          <li>
            <a href={`#${heading.slug}`}>{index + 1}- {heading.text}</a>
          </li>
        ))
      }
    </ol>
<Content />
<div class="my-20">
  <a href="#btn-back"> Ir arriba</a>
</div>
</BlogLayout>


